ion-toolbar{
    --padding-start: 0px !important;
    --padding-end: 0px !important;
    --padding-top: 0px !important;
    --padding-bottom: 0px !important;
}
ion-header ion-toolbar{
    --background: url("/assets/images/hdr.png");
}

.header{
    position:fixed;
    top: 0px;
}

.example-full-width {
    width: 100%;
}

.div_btn{
    background: linear-gradient(91.85deg, #0C1733 2.48%, #236CBD 58.09%);
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    width: 42px;
    height: 39px;
}