<ion-header [translucent]="true">
  <ion-toolbar>
   <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col><!--ion-col-->
      <ion-col>
      </ion-col><!--ion-col-->
      <ion-col style="text-align: right">
      </ion-col><!--ion-col-->
    </ion-row>
   </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <!--<div style="position: fixed;">
      <ion-img src="assets/images/header.png"></ion-img>
      UIApplicationOpenSettingsURLString
    </div>-->

    <div style="padding-top: 15px;padding-left: 15px;padding-right: 15px;">
     <h3 style="color: #ffffff;">Hello {{user?.nom}},</h3>
     <!--<p style="font-size: 13px;color: #ffffff">
      Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500
     </p>-->
    </div>

    <div class="div-care-body">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="SCAN" class="label-dashboard">
          <div style="padding-top: 17%;margin: 10px">
            <ion-grid>
              <ion-row>
                  <ion-col (click)="scannerVisite()">
                    <div class="card-mini">
                          <p class="title-h">POINTS</p>
                          <p class="title-h" style="position: relative;bottom: 15px;">VISITES</p>
                          <div style="position: relative;bottom: 20px;">
                            <ion-img src="assets/images/scanne.png" class="img-h"></ion-img>
                          </div>
                    </div>
                  </ion-col>
                  <ion-col (click)="IsAchat()">
                    <div class="card-mini">
                      <p class="title-h">POINTS</p>
                      <p class="title-h" style="position: relative;bottom: 15px;">ACHATS</p>
                      <div style="position: relative;bottom: 20px;">
                        <ion-img src="assets/images/scanne.png" class="img-h"></ion-img>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                    <ion-col (click)="scannerCadeau()">
                      <div class="card-mini">
                            <p class="title-h">VERIFIER</p>
                            <p class="title-h" style="position: relative;bottom: 15px;">CADEAUX</p>
                            <div style="position: relative;bottom: 20px;">
                              <ion-img src="assets/images/scanne.png" class="img-h"></ion-img>
                            </div>
                      </div>
                    </ion-col>
                    <ion-col (click)="IsAvoir()">
                      <div class="card-mini">
                        <p class="title-h">VERIFIER</p>
                        <p class="title-h" style="position: relative;bottom: 15px;">UN AVOIR</p>
                        <div style="position: relative;bottom: 20px;">
                          <ion-img src="assets/images/scanne.png" class="img-h"></ion-img>
                        </div>
                      </div>
                    </ion-col>
                </ion-row>
              </ion-grid>
          </div>
        </mat-tab>
        <mat-tab label="CREER UN CLIENT" class="label-dashboard">

          <div style="margin: 25px;padding-top: 30px;">

            <p style="color: #0C2461;text-align: center;">CREER UN COMPTE CLIENT</p>

            <div style="font-size: 13px;">

              <form [formGroup]="clientForm" novalidate>

                <div *ngIf="clientFormErrors.emailorphone.found" class="text-danger" style="text-align: center;color: #de0d6e;">
                  Ce compte existe déjà
                </div>

                <mat-form-field appearance="outline" class="example-full-width">
                  <input matInput  formControlName="nom" placeholder="Nom" required>
                  <mat-icon matPrefix>personal</mat-icon>
                </mat-form-field>
                <div>
                  <mat-error class="error-message" style="font-size: 12px;"  *ngIf="clientForm.get('nom').hasError(account_validation_messages.nom[0].type) && (clientForm.get('nom').dirty || clientForm.get('nom').touched  || (submitted))">
                    {{account_validation_messages.nom[0].message}}
                  </mat-error>
                </div>

                <mat-form-field appearance="outline" class="example-full-width">
                  <input matInput formControlName="prenom" placeholder="Prénom" required>
                  <mat-icon matPrefix>personal</mat-icon>
                </mat-form-field>
                <div>
                  <mat-error class="error-message" style="font-size: 12px;"  *ngIf="clientForm.get('prenom').hasError(account_validation_messages.prenom[0].type) && (clientForm.get('prenom').dirty || clientForm.get('prenom').touched  || (submitted))">
                    {{account_validation_messages.prenom[0].message}}
                  </mat-error>
                </div>

                <mat-form-field appearance="outline" class="example-full-width">
                  <input matInput placeholder="Numéro de téléphone" formControlName="emailorphone" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$|(\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+)" required>
                  <mat-icon matPrefix>phone_iphone</mat-icon>
                </mat-form-field>
                <div>
                  <mat-error class="error-message" style="font-size: 12px;"  *ngIf="clientForm.get('emailorphone').hasError(account_validation_messages.emailorphone[0].type) && (clientForm.get('emailorphone').dirty || clientForm.get('emailorphone').touched  || (submitted))">
                    {{account_validation_messages.emailorphone[0].message}}
                  </mat-error>
                </div>

                <div>
                  <button mat-button  type="submit" (click)="addClient()" cdkFocusInitial class="btn-log">créer</button>
                </div>

              </form>



            </div>

          </div>

        </mat-tab>
      </mat-tab-group>
    </div>

  </div>

  <ion-popover [isOpen]="submitted">
      <ng-template>
        <ion-content>
          <mat-card class="example-card" style="box-shadow: none !important;opacity: 80%;padding: 0px;">

            <mat-card-content style="margin: 0 60px 0 60px;">
               <img src="assets/images/valide.png" class="center-img">
            </mat-card-content>
            <div class="card-detail">
              <p style="font-size: 14px;color: #fff;margin: 10px;">
                Client ajoutée avec succès.
              </p>
            </div>
          </mat-card>
        </ion-content>
      </ng-template>
  </ion-popover>

  <ion-popover [isOpen]="isAchat" [arrow]="false">
    <ng-template>
        <mat-card class="achat-card">
          <mat-card-content>
            <p style="color: #0C2461;text-align: center;">SCANNER LE QR CODE</p>

            <div style="font-size: 13px;">

              <form [formGroup]="achatForm" novalidate>

                <mat-form-field appearance="outline" class="example-full-width">
                  <input type="number" matInput  formControlName="montant" placeholder="ENTRER LE MONTANT" required>
                </mat-form-field>
                <div>
                  <mat-error class="error-message" style="font-size: 12px;text-align: center;" *ngIf="achatForm.get('montant').hasError(account_validation_achat.montant[0].type) && (achatForm.get('montant').dirty || achatForm.get('montant').touched  || (submitted))">
                    {{account_validation_achat.montant[0].message}}
                  </mat-error>
                </div>

                <div>
                  <button mat-button  type="submit" (click)="addAchat()" cdkFocusInitial class="btn-log">Générer un QR code</button>
                </div>
              </form>

            </div>
          </mat-card-content>
        </mat-card>
    </ng-template>
  </ion-popover>

  <ion-popover [isOpen]="isAvoir" [arrow]="false">
    <ng-template>
        <mat-card class="achat-card">
          <mat-card-content>
            <p style="color: #0C2461;text-align: center;">SCANNER LE QR CODE AVOIR</p>

            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Encaissé
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <div style="font-size: 13px;padding-top: 25px;">

                    <form [formGroup]="avoirForm" novalidate>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <input type="number" matInput  formControlName="montant" placeholder="ENTRER LE MONTANT" required>
                      </mat-form-field>
                      <div>
                        <mat-error class="error-message" style="font-size: 12px;text-align: center;" *ngIf="avoirForm.get('montant').hasError(account_validation_avoir.montant[0].type) && (avoirForm.get('montant').dirty || avoirForm.get('montant').touched  || (submitted))">
                          {{account_validation_avoir.montant[0].message}}
                        </mat-error>
                      </div>

                      <div>
                        <button mat-button  type="submit" (click)="addAvoir()" cdkFocusInitial class="btn-log">Scanner le QR CODE</button>
                      </div>
                    </form>

                  </div>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Dépensé
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <div align="center" style="padding-top: 25px;">
                    <button mat-button (click)="scannerAvoirDepense()" cdkFocusInitial class="btn-log">Scanner le QR CODE</button>
                  </div>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>
        </mat-card>
    </ng-template>
  </ion-popover>

</ion-content>
