#container {
  //position: relative;
  //top: 20%;
  //transform: translateY(-50%);
  padding-top: 50%;
}


.img-logo{
  width: 200px;
  height: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.example-full-width {
  width: 100%;
  //color: #000000;
}

.labelFrom{
  color: #CECECE;;
  font-size: 13px;
} 

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  //background-color: #C3F6D8; //rgb(179, 177, 177);
  border-radius: 5px;
  color: rgb(179, 177, 177);
}

ion-button {
  --background: #0C2461;
  --color: #fff;
  --border-radius:3px !important;
  height: 43px;
  text-transform: none;
}

.btn-log{
  //background: linear-gradient(91.85deg, #0C1733 2.48%, #236CBD 58.09%);
  background: #0C2461;
  color: #fff;
  border-radius:10px !important;
  height: 43px !important;
  width: 100%;
  text-transform: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(179, 177, 177);
  opacity: 1; /* Firefox */
}